@charset "utf-8";

/*==================================================
	
==================================================*/


p {
	margin-bottom:0;
}

header {
	width:100%;
	height:86px;
	position:fixed;
	background:#ffffff;
	border-bottom:solid 1px #cccccc;
	z-index:100;
	
	/*display:none;*/
}
header .content {
	width:980px;
	margin:0 auto;
}
header .content h1 {
	float:left;
	margin-top:23px;
}
header .content p.btn {
	float:right;
	margin-right:80px;
	margin-top:10px;
}

main {
	width:100%;
	margin:0 auto;
	padding-bottom:50px;
}

main section.content {
	background:#faf6eb url(/img/lp/consultation/bg_main.png) no-repeat top center;
	background-repeat:no-repeat;
	padding-bottom:50px;
	
	max-width:1400px;
	margin:0 auto;
}
main section.content .mv {
	background:url(/img/lp/consultation/mv.png) no-repeat top center;
	height:535px;
	max-width:1400px;
}
main section.content .mv .wrap {
	width:980px;
	margin:0 auto;
	padding-top:440px;
}
main section.content .mv .wrap h2 {
	float:left;
	margin-top:23px;
}
main section.content .mv .wrap p.btn {
	float:right;
	margin-right:80px;
	margin-top:10px;
}
main section.content .mv .wrap p.txt {
	clear:both;
	float:right;
	margin-right:150px;
	margin-top:5px;
}

main section.content .headline {
	margin-bottom:30px;
}
main section.content .headline h2 {
	margin-bottom:10px;
	
	background:url(/img/lp/consultation/headline_title.png) no-repeat top center;
	max-width:1400px;
	height:235px;
}
main section.content .headline ul {
	overflow:hidden;
}
main section.content .headline ul li {
	float:left;
	width:276px;
	padding:20px 18px;
	border:solid 2px #6794d4;
	border-radius:3px;
	background:#f8fbff;
}
main section.content .headline ul li+li {
	margin-left:16px;
}
main section.content .headline ul li h3 {
	margin-bottom:15px;
}

main section.content .contact {
	background:url(/img/lp/consultation/bg_contact.png) no-repeat;
	height:240px;
	position:relative;
}
main section.content .contact p.btn {
	position:absolute;
	left:545px;
	top:90px;
}

main section.content .staff {
	background:url(/img/lp/consultation/bg_staff.png) no-repeat;
	height:238px;
	margin-top:60px;
	margin-bottom:40px;
	position:relative;
}
main section.content .staff p.txt {
	position:absolute;
	width:590px;
	left:0;
	top:90px;
	text-align:center;
}

main section.content .customer h3 {
	text-align:center;
	margin-bottom:20px;
}
main section.content .customer ul {
	overflow:hidden;
}
main section.content .customer ul li {
	float:left;
	width:316px;
	min-height:150px;
	padding:20px 0;
	background:#ffffff;
	border-radius:3px;
	
	overflow:hidden;
}
main section.content .customer ul li+li {
	margin-left:15px;
}
main section.content .customer ul li p {
	float:left;
}
main section.content .customer ul li p.txt {
	width:180px;
	line-height:1.4em;
}
main section.content .customer ul li p.txt span {
	font-size:16px;
	display:block;
	margin-bottom:10px;
}

main section.content .qanda h3 {
	text-align:center;
}
main section.content .qanda ul {
	overflow:hidden;
}
main section.content .qanda ul li {
	float:left;
	width:475px;
	min-height:140px;
	margin-top:20px;
	padding:20px 0;
	background:#ffffff;
	border-radius:3px;
}
main section.content .qanda ul li:nth-child(2n) {
	margin-left:30px;
}
main section.content .qanda ul li p.question {
	background:url(/img/lp/consultation/qanda_icon_q.png) no-repeat;
	margin-left:15px;
	margin-bottom:15px;
	padding-left:35px;
	font-size:20px;
	color:#d87a00;
	
}
main section.content .qanda ul li p.answer {
	background:url(/img/lp/consultation/qanda_icon_a.png) no-repeat;
	margin-left:15px;
	padding:0 25px 0 35px;
	
	vertical-align:baseline;
	
}


.column {
	width:980px;
	margin:0 auto;
	display:block;
}





main section.info {
	text-align:center;
	padding:50px 0 30px 0;
}
main section.info .contact {
	text-align:center;
	padding-top:50px;
}
main section.info .contact .title {
	color:#f03e00;
	font-size:24px;
	margin-bottom:30px;
}
main section.info .contact .tel {
	font-size:24px;
}
main section.info .contact .tel span {
	font-size:30px;
}
main section.info .contact .open {
	font-size:14px;
}


main section.form .notice {
	text-align:center;
	font-size:16px;
	padding-top:30px;
	margin-bottom:30px;
}
main section.form h3 {
	color:#014099;
	font-size:16px;
	margin-bottom:20px;
}
main section.form h3 span {
	font-size:14px;
	color:#221815;
	padding-left:15px;
}
/*main section.form p.form_btn a {
	background: none repeat scroll 0 0 #f03e00 !important;
}*/

footer {
	width:100%;
	background:#f4f4f4;
	border-top:solid 1px #e3e3e3;
}
footer .content {
	width:980px;
	margin:0 auto;
	padding:13px 0;
	overflow:hidden;
}
footer .content .license {
	float:left;
	margin-top:5px;
}
footer .content .license img {
	vertical-align:bottom;
}
footer .content .logo {
	float:right;
}
